*,
*::before,
*::after {
  box-sizing: border-box;
}

li{
  margin:auto 14px auto 14px;
  padding:0;
}
ul{
  padding-left: 100px;
  padding-right: 100px;
}

.titletxt{
  font-size: medium;
}

.nav{
  display: flex;
  list-style-type: none;
  padding: 10px;
}
.navbar{
  display: flex;

}
.nav_button{
  color:#0054a2;
  text-decoration:0;
  font-size:13pt;
}

.nav_button:hover{
  color:#33a0ff;
}

.logo_img{
  width:253px;
  height:87px;
}

header{
  display:flex;
  justify-content:left;
  background-color:#ffffff;
}

footer{
  padding:18px 0;
  background-color:#0054a2;
}

.maintext{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  margin: 55px;
  flex-wrap: wrap;
}

.quote{
  display:flex;
  justify-content: center;
}


.max{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
}

.logo{
  display:flex;
  padding:15px;
  }

.headertext{
  color:#ffffff;
  font-family:unset;
  font-size: 26pt;
}

.w-100{
  width: 100%;
  height:620px;
  object-fit: cover;
}

.prompt{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  
}

.field{
  height:32px;
  width:270px;
}

.input1{
  display:flex;
  justify-content:flex-start;
  padding:0 0 16px 50px;
}

.align{
  display:flex;
  flex-direction:column;
}

.login_section{
  display:flex;
  justify-content:flex-end;
  padding:10px;
}

.headings{
  background-color: #0054a2;
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 2px #e6e8e6 solid;
  border-bottom:2px #e6e8e6 solid;
}

.sportsimages{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sports_image{
  margin: auto;
}
.basketball_image{
  object-fit: cover;
}

.sports_text{
  display: flex;
  flex-direction: column;
  margin: 55px;
}

.staffrow1{
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
}
.footertxt{
  color: #FFFFFF;
}
.dummytitle{
  display: flex;
  justify-content: center;
}

.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.adjustplace{
  display: flex;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.myBtn{	
  border-radius: 15px;	
  width: 150px;
}

.myBtn:hover {
  background-color: #dbdbdb;	
}

.logh1{	
  font-family: Arial;
}

.label{	width: 100px;	
  text-align: right;	
  display: inline-block;	
  vertical-align: top;	
}
  
.field, textarea{	
  margin-left: 5px;	
  border-radius: 5px;	
  background-color: #ffccff;	
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
  width:200px;
}

body, .label{
  font-family: 'Arial', sans-serif;
}